<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
	 <div class="navbar-header">
     	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sentimusical</a>
	</div>

	 <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	
        <li><a href="/">Home</a></li>
        <li><a href="/">Moods</a></li>
        <li><a href="/">Playlists</a></li>
       </ul>

          <%= button_to "Login", sign_in_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
      <%= button_to "Sign Up", new_user_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>

   	 </div>

  


</div>

		
