
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="page-nav">

   <div class="wrap">

      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/home">MoodZiq</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <div class-"col-md-6 pull-left">
            <ul class="nav navbar-nav">
               <li><a href="/playlists">Playlists</a></li>
            </ul>
         </div>

         <div class="col-md-6 pull-right" id="profile-or-user-nav">
            <% if current_user %>
            <% @user = @current_user %>

            <div class="col-md-3 pull-right" id="prof-pic-wrapper">
               <button role="button" class="btn btn-xs btn-default" id="drop-btn"><span class="caret"></span></button>
               <img class="pull-right" src="<%= @user.photo %>" height="64" width="64">
            </div>

            <% else %>

            <div id="init-user-btns">
               <button data-toggle="modal" data-target="#loginModal" style="display: inline"
                   class="btn btn-primary navbar-right navbar-btn">
                 Log In
               </button>
               <button data-toggle="modal" data-target="#signUpModal" style="display: inline" class="btn btn-primary navbar-right navbar-btn">
                 Sign Up
               </button>
            </div>
            <% end %>
         </div>

      </div>

   </div>
</nav>

<!-- Profile Dashboard -->
<div class="col-md-3 col-md-offset-9 pull-right" id="profile-wrapper">

   <div id="profile-dashboard">
      <% if current_user %>
      <% @user = @current_user %>
      <div class="media">
         <div class="media-left media-body pull-left">
            <h4 class="media-header"> <%= @user.name %> </h4>
            <ul class="list-unstyled">
               <li>Member since: <%= time_ago_in_words(@user.created_at) %> ago.</li>
               <li>Stuff</li>
            </ul>
         </div>
         <div class="media-right pull-right">
            <div class="button-group" role="group">
               <%= button_to "Logout", logout_path, method: "get", class: "red pull-left btn btn-danger btn-xs navbar-right navbar-btn" %>
            </div>
         </div>
      </div>
      <% end %>
  </div>

</div>
